<h4 style="margin-bottom: 10px"><span id="turn"><%= @turn %></span>'s turn</h4>

<table id="board">
    <tr id="row0">
        <td id="0"><%= @board[0] %></td>
        <td id="1"><%= @board[1] %></td>
        <td id="2"><%= @board[2] %></td>
    </tr>
    <tr id="row1">
        <td id="3"><%= @board[3] %></td>
        <td id="4"><%= @board[4] %></td>
        <td id="5"><%= @board[5] %></td>
    </tr>
    <tr id="row2">
        <td id="6"><%= @board[6] %></td>
        <td id="7"><%= @board[7] %></td>
        <td id="8"><%= @board[8] %></td>
    </tr>
</table>